<h2>
  <%= @school.title %> has <%= @school.num_of_grades %>classes.
</h2></br>
<body>
 <%= render "generate" %>
</body>
<span id="generate"><%= link_to 'Generate pupils', method: "post", action: "generate", :remote => true, class: "generator" %></span>
<%= link_to 'Sort pupils', sort_school_path%>
<%= link_to 'Back', schools_path %>
